/backend/.gradle/
/backend/build/
/backend/buildSrc/.gradle/
/backend/buildSrc/build/
/backend/volumes/
/frontend/node_modules/
/frontend/build/
/frontend/dist/
/frontend/src/apis/
/landing/node_modules/
/landing/build/
/landing/dist/
/landing/src/apis/
volumes/

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/backend/core/build/

/tmp/*
